#### eclipse data ####

eclipse-workspace
*.project
*.classpath
*.settings

#### intellij data ####

*.iml
*.idea

#### netbeans data ####

core/workflow/data
nb-configuration.xml
nbactions.xml

#### maven data ####

*target

#### compiled data ####
*.class

#### Package Files ####
=======
*.class

# Package Files #
*.jar
*.war
*.ear
